#ИМЯ ФАЙЛА: '.env'
#ВАРИАНТ ССЫЛКИ НА ПОДКЛЮЧЕНИЕ К SQLite
#DATABASE_URL=sqlite+aiosqlite:///./dev.db

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=appdb
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/appdb